<footer>
	<div class="footer-content"> 
	    <div class="footer-left">
	    	
	     
	    </div>
	    <div class="footer-middle"> 
	    	<a target="_blank" href="https://www.facebook.com/tobie.devries"><img src="/assets/icons/facebook.png"></a>
            <a target="_blank" href="https://twitter.com/Tobdev"><img src="/assets/icons/twitter.png"></a>
            <a target="_blank" href="https://github.com/TobieD"><img src="/assets/icons/github.png"></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCBR9mGP2JU-6kQMGNOC1-Sw/videos"><img src="/assets/icons/youtube.png"></a>
            <a target="_blank" href="https://www.linkedin.com/in/tobiedevries"><img src="/assets/icons/linkedin.png"></a>
	    </div>
	    <div class="footer-right"> 
	    	<p>	&copy 2016 Tobie Devries</p>
	    </div>
	</div>
</footer>