<header>
	<div class="img-cutoff">
		 {% if page.path contains '_posts' %}
		 	<img src={{page.header}}/>        	
		 {% else %}
        	<img src="/assets/projects/town_gen/header.png"/>
		 {% endif %}

		<div class="overlay">
			<a href="/index.html">
				<h1>Tobie Devries</h1>
				<h2>Game Developer - Tool Developer</h2>
			</a>
		</div>
	</div>	
	<nav>
		<div class= "header-bar">
		    <a href="{{ site.github.url }}/index.html">Home</a>
		    <a href="{{ site.github.url }}/games.html">Games</a>
		    <a href="{{ site.github.url }}/tools.html">Tools</a>
		    <a href="{{ site.github.url }}/other.html">3D</a>
		    <a href="{{ site.github.url }}/assets/resume.pdf" target="_blank">Resume</a>
	    </div>
	</nav>
</header>