<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Tobie Devries | Portfolio</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Add jQuery library -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> 
        
        
  <!-- FANCY BOX -->
  <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>       
  <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css">
  <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js"></script>
  <script type="text/javascript">

   //Standard open/Close
  $(document).ready(function() {
      $(".fancybox").fancybox()
        helpers: {
            media: {}
        }
      
  });
   
   //No Padding
   $(document).ready(function() {
      $(".fancybox-effects-d").fancybox({
          
          padding: 0,
          
          openEffect:'elastic',
          openSpeed: 150,
          
          closeEffect:'elastic',
          closeSpeed:150,
          
          closeClick:true,
          
      });
   });
</script>
</head>
