---
layout: post
title:  "FR-F2 Sniper"
categories: other
header: /assets/projects/fr_f2/header.jpg
excerpt: "3D modeled gun to understand the PBR workflow and realtime rendering in Unreal Engine 4."
---

<div class="post-content">

    <p>This was a school assignment to understand the workflow of creating a 3d game asset and  understanding the way textures are made for physical based rendering.The model has an Albedo, Roughness, Metal and Normal map.</p>

    <!-- {% include photo.html src="/assets/projects/fr_f2/tex_scope.jpg" %}  -->
    <!-- {% include photo.html src="/assets/projects/fr_f2/tex_rifle.jpg" %}  -->

    <p>The workflow used was: </p>
    <ul>
        <li>Model high poly</li>
        <li>Model low poly </li>
        <li>Normal map baking in 3ds max</li>
        <li>Texturing Albedo, Metal, Roughness and Normal map</li>
        <li>Import assets in Unreal Engine 4 and create material + light setup</li>
    </ul>
</div>

<!-- <iframe class="frame" itemprop="embedUrl" data="https://sketchfab.com/models/e9815a39db43480fbdf2b334c945b503/embed" src="https://sketchfab.com/models/e9815a39db43480fbdf2b334c945b503/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->

<div class="post-header">
    <div class="post-title"><h2>Media</h2></div>        
</div>  

<div class="media-content">  
    {% include photo.html src="/assets/projects/fr_f2/view_2.jpg" %} 
    {% include photo.html src="/assets/projects/fr_f2/view_2.jpg" %}
</div>