---
layout: post
title:  "Neon Rush"
categories: game
header: "/assets/projects/neon_rush/01.png"
excerpt: "Neon Rush is an endless runner made for virtual reality. Navigate through the level with increasing speeds and move sideways by tilting your head."
---

<div class="post-content">

  	<p>This is a Virtual reality game made with the cardboard SDK in Unity. It was created together with an other student during my internship at Cartamundi Digital. The game was created in 4 days. The game is an endless runner in a tron style environment and the player has to avoid hitting walls. He can do this by rotating his phone left or right.</p>
        
    <p>On the project I worked on creating the assets using blenderand making sure the level is proceduraly generated and has enough variation so the game does not become too repetitive. To do this I created prefab elements that were easily adjustable to create fun and interesting obstacles. </p>
            
</div>

<div class="post-header">
    <div class="post-title"><h2>Media</h2></div>        
</div>  

<div class="media-content">  
    {% include photo.html src="/assets/projects/neon_rush/01.png" %} 
 	{% include photo.html src="/assets/projects/neon_rush/neon.gif" %}  
    {% include photo.html src="/assets/projects/neon_rush/02.png" %} 
    {% include photo.html src="/assets/projects/neon_rush/03.png" %}
   
</div>