---
layout: post
title:  "Augmented Dragon"
categories: game
header: /assets/projects/ar_dragon/ar_01.png
excerpt: "Augmented Reality application made with Vuforia in Unity 3D. Renders a scene onto a mark in the real world and has interaction from a user."
---

<div class="post-content">

    <p>During my internship at Cartamundi Digital I got the opportunity to research Augmented Reality in Unity 3D using Vuforia. For a demo I had to come up with an interactive app that allowed the user to interact with an Augmented Environment/</p>
        
    <p>I decided to have a dragon fly around some islands and the user could select the island the dragon would fly to by tapping on an island.</p>    
        
</div>

<div class="post-header">
    <div class="post-title"><h2>Media</h2></div>        
</div>  

<div class="media-content">  

    {% include photo.html src="/assets/projects/ar_dragon/ar_01.png" %} 
    {% include photo.html src="/assets/projects/ar_dragon/ar_02.png" %}
</div>
