---
layout: post
title:  "Fundels - mini game"
categories: game
header: "/assets/projects/fundels/fundels_01.png"
excerpt: "A mini game made during my internship at Cartamundi Digtal for the Fundels learning platform."
---

<div class="post-content">

    <p>During my internship at Cartamundi Digital I was tasked to design and create a small minigame for the educative Fundels platform.
    Fundels is an hybrid mobile app which takes physical cards with NFC chips as input. Since there are NFC restrictions on i-devices there is an additional figurine to take the input, which in turn communicates through bluetooth with the tablet. The game is created in Unity3D.</p>
        
    <p>The game I came up with was a word game where the player would receive two words and has to fill in the middle word so that the combination of the first and middle word is an existing word and the combination of the middle and second word becomes an existing word. The player is given four possible answers and has to use an NFC card with the corresponding color to give his choice.</p>

    <p> After creating a small prototype to test out the gameplay I worked on integrating more visual aspects. I decided that the player had to reach the end of the island but his passage was blocked by stones. When the player gives the correct answer a bomb is thrown at the stone and the player moves forward. When a wrong answer is given he has to try again. The game also had to have a two player option. With two players the game becomes a race to reach the last island the fastest.</p>
        
</div>

<div class="post-header">
    <div class="post-title"><h2>Media</h2></div>        
</div>  

<div class="media-content">  

    {% include photo.html src="/assets/projects/fundels/fundels_01.png" %} 
    {% include photo.html src="/assets/projects/fundels/fundels_02.png" %}
    {% include photo.html src="/assets/projects/fundels/fundels_03.png" %}   
</div>