---
layout: post
title:  "Space Explorer"
categories: game
header: "/assets/projects/space_explorer/header.jpg"
excerpt: "Control a space ship traveling through the galaxy and take care of any troubles that come with it!"
source: "https://github.com/TobieD/SpaceExplorer"
---

<div class="post-content">

   <p>This project was to learn how to use Unreal engine 4 to create games. The entire game was made by myself including creating most of the assets. It was a great way to understand all the tools available within UE4. </p>

	<h2>The game</h2>

    <p>You are in control of a space ship traveling through the galaxy. take control of the crewmembers on the ship and defend your ship from any possible threats you might come across. To begin traveling interact with the piloting station in the cockpit and press the "travel" button!</p>

    <p>Most of the gameplay involves managing your ship and upgrading it to improve the systems on the ship, this could be better doors to defend yourself from invading enemies. or upgrading weapons to deal more damage to enemy ships, but also protecting your ship from fire and making sure your crew does not get killed!</p>

    <h2>Speeding up development</h2>

    <p>I worked on this project over a period of 4 months, starting out with a way to generate ships in a procedural way in the unreal 4 editor, I wrote up a blog post explaining how it works        
        <a class="link" target="_blank" href="http://tobiedevries.tumblr.com/post/125076499709/unreal-engine-4-speeding-up-level-creation-using" >here</a>.</p>

    <p>After figuring that out, I started working on several systems to use as a base for the game, the interact system, the weapon system, the equip system and the skill system. Once these were all finished I needed to create blueprints that would use these system to create gameplay.</p>
            
</div>

<div class="post-header">
    <div class="post-title"><h2>Media</h2></div>        
</div>  

<div class="media-content"> 
    {% include video.html src="https://www.youtube.com/embed/BkGQ5gUpIfY " %}
    {% include photo.html src="/assets/projects/space_explorer/skills.jpg" %} 
    {% include photo.html src="/assets/projects/space_explorer/header.jpg" %} 
    {% include photo.html src="/assets/projects/space_explorer/invader.jpg" %} 
    {% include photo.html src="/assets/projects/space_explorer/travel.jpg" %} 
</div>